.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin: 0 80px;
}

.hero {
  color: #fff;
}

.hero__title {
  font-size: 60px;

  margin: 0;
}

.hero__subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero__cta {
  background-color: teal;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  padding: 10px 15px;
}